.jumbotron{
    text-align: center;
    background-color: rgba(250, 0, 0, 0.8);
    font-size: 25px;
    font-family: 'Signika', sans-serif;
}

.male_name{
    background-color: #ffd000cc;
    font-size: 30px;
    font-family: 'Cute Font', cursive;
}

.female_name{
    background-color: #ffd000cc;
    font-size: 30px;
    font-family: 'Cute Font', cursive;
}