.jumbotron{
    text-align: center;
    background-color: rgba(250, 0, 0, 0.8);
    font-size: 25px;
    font-family: 'Signika', sans-serif;
}

.male_name{
    background-color: #ffd000cc;
    font-size: 30px;
    font-family: 'Cute Font', cursive;
}

.female_name{
    background-color: #ffd000cc;
    font-size: 30px;
    font-family: 'Cute Font', cursive;
}

.footer-area-bottom{
    border:0px peachpuff;
    background-color: #f1f1f1f1;
    margin-bottom:20px;
    padding-top: 10px;
    color: blue;
    font-size: 20px;
    margin-top: 90px;
}

.intro{
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}

.form{
    background-color: green;
    height: 450px;
    width: 900px;
    border-radius: 10px;
    margin: 10px;
}

btn btn-primary{
    color:green;
}

