body{
    background-image: url("https://www.un-page.org/files/public/styles/panopoly_image_full/public/pages/ghana_beach.png?itok=aLkxOj8S");
    background-repeat: no-repeat;
    background-size: cover;
   
}



.jumbotron{
    text-align: center;
    background-color: rgb(206,17,38);
    font-size: 25px;
    font-family: 'Signika', sans-serif;

}

.male_name{
    background-color: rgb(252,209,22);
    font-size: 30px;
    font-family: 'Cute Font', cursive;
}

.female_name{
    background-color: rgb(252,209,22);
    font-size: 30px;
    font-family: 'Cute Font', cursive;
}

.footer-area-bottom{
    border:0px peachpuff;
    background-color: #f1f1f1f1;
    margin-bottom:20px;
    padding-top: 10px;
    color: blue;
    font-size: 20px;
    margin-top: 90px;
}

.intro{
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    color:black;
}

.form{
    background-color:rgb(0,107,63);
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

btn btn-primary{
    color:green;
}

